
.sidebar{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;    
  top: 0;
  left: 0;
  width: 200px;        
  height: 100vh;
  background-color: white;
  color: #414141;
  margin: 0;
  padding: 0;
}

.sidebar-content{
  padding: 20px 15px; 
}

.sidebar-content{
  text-align: center;
  margin-bottom: 60px;
  font-size: 25px;
}


.sidebar-content ul{
   height: 300px;
  overflow-y: auto;
  border: 0, 0, 0, 1px solid #ccc;
  height: 100vh;
}


.sidebar-content ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content li{
  margin: 15px;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  border-radius: 4px;
  align-items: center;
  display: flex;
}

.sidebar-content li img{
  margin-right: 10px;

}

.sidebar-content li:hover{
background-color: #f0f7ee;
}

.links{
  text-decoration: none;
  color: #414141;
  display: flex;
  align-items: center;
  padding: 5px;
}

.sidebar {
  height: 100vh;
  color: #414141;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.open {
  width: 220px;
}

.sidebar.closed {
  width: 70px;
}

.sidebar-content {
  padding: 16px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-content: center;;
  margin-top: 20px;
  margin-bottom: 60px;
  gap: 10px;
}

.toggle-btn {
  background: none;
  border: none;
  color: #414141;
  font-size: 22px;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}



